<h1><%= @restaurant.name %> <small>(<%= @restaurant.category %>)</small></h1>
<ul>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone number: <%= @restaurant.phone_number %></li>
</ul>

<%= link_to "Edit #{@restaurant.name}", edit_restaurant_path(@restaurant) %>
<br>
<%= link_to "Delete #{@restaurant.name}", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are your sure?"} %>
<br>
<%= link_to "Back to all restaurant", restaurants_path %>
